# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle
/build/

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
bin/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local configuration
src/main/resources/application-local.yml
.env

# Crashlytics/Firebase
com_google_firebase_crashlytics_build_id.xml
